.exchange-wrapper {
    position: relative;
    height: 50%;
    color: white;
    font-size: 20px;
}

.exchange {
    height: 100%;
    display: flex;
}

.money-to-transfer {
    font-size: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;
    text-align: right;
}

.block {
    margin: auto auto;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
}

.right {
    text-align: right;
}